body{
    height: 100vh;
}

.navbar {
    background-color: yellow;
    display: flex;
    justify-content: space-between;    
}

.second {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.desc {
    display: flex;
    justify-content: center;
    align-items: center; 

}
